@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@600&family=Raleway&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-sizing: border-box;
}

.btn {
    width:5rem;
    height: 5rem;
    font-size: clamp(0rem,4rem,6rem);
    border: 2px solid black;
    text-align: center;
    margin:0.3rem;
    border:2px solid white;
    color:white;
    box-shadow: 5px 10px 50px white;
    display: flex;
    justify-content: center;
    align-items: center;

}

#first,
#second,
#third {
    display: flex;
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: black;
    padding: 2rem;
}

h1 {
    font-family: 'Playfair', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: clamp(0.5rem, 5rem, 10rem);
    color:white;
    text-align: center;
}
.get{
    color:white;
    font-size: clamp(0.5rem,3rem,5rem);
    font-family: 'Playfair', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Slab', serif;
    
}
input{
    width:10rem;
    height: 2.5rem;
    font-size: 2rem;
    font-family: cursive;
    font-weight: 700;
    border:none;
    outline:none;
    padding-left: 1rem;
    border-radius: 2rem;
}
.box{
    margin:1rem;
    max-width: 50vw;
    
    
}
#win{
    font-family: cursive;
    font-size: clamp(0.1rem,2rem,5rem);
    color:white;
    margin:2rem;
    text-align: center;
    text-decoration: underline;
    padding:1rem;
    
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    background-color:transparent;
    max-width: 100%;
    
}
.w{
    display: flex;
    
    max-width: 50vw;
}
.reload{
    display: flex;
    justify-content: center;
    align-items: center;

}
.gif{
    display: flex;
    justify-content: center;
    align-items: center;

}
.reload button{
    width:6rem;
    height:3rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    background-color: blue;
    color:white;
}
.reload button:hover{
    filter: invert(1);
}
@media only screen and (max-width:40em)
{
    .w{
        display: block;
        box-sizing: border-box;
    }
    .get{
        padding:2rem;
        font-size: clamp(0.5rem,3rem,5rem);

    }
    h1{
        font-size:clamp(0.5rem, 5rem, 10rem);;
    }
    body{
        padding: 10rem;
        box-sizing: border-box;
    }
    .btn{
        max-width: 5rem;
        font-size: clamp(0rem,4rem,6rem);
        box-sizing: border-box;
    }

}

